@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --clr-1: ;
  --clr-2:  ;
  --clr-3:  ;
  --clr-4:  ;

  --ff-1:'Space Mono', monospace;

  --fw-regular: 400;
  --fw-bold: 700;
  --fc-main: white;
  --ff-body: var(--ff-1);
  --ff-heading: var(--ff-1);

}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html {
  box-sizing: border-box;
  font-family: var(--ff-1);
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body {
  margin: 0;
  height: 100%;
}
html { 
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: var(--fw-regular);
  color: white;

  
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  /* border: 2px solid green; */

}
h1 {
  font-weight: var(--fw-bold);
  line-height: 1.2;
  font-size: 25px;
  /* border: 5px solid black; */
}

main {
  height: 100%;
  width: 350px;
  /* margin-top: 50px; */
  /* margin-bottom: 20px;
  margin-top: 20px; */
  /* border: 1px solid #4C4C4C; */
  padding: 5px;
  position: relative;
}

#field {
  /* border: 1px solid white; */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* width: 100%;
  height: 100%; */
  position: absolute;
  color: white;
  opacity: 0.1;
}


.box {
  /* border: 1px solid white; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.info h1 {
  font-size: 25px;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
a { 
  text-decoration: none;
}

#aboutme {
  margin-bottom: 60px;
}
.info a {
  /* box-shadow: inset 0 0 0 0 white; */
  /* border: 2px solid blue; */
  color: white;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.info a:hover {
  cursor: pointer;
  box-shadow: inset 160px 0 0 0 white;
  color: black;
}

#intro {
  color: white;
  white-space: pre-wrap;
  line-height: 45px;
}


ion-icon {
  font-size: 44px;
  margin: 20px;
  /* border: 1px solid white; */
  text-decoration: none;
  color: white;
  transition: color .2s ease-in-out box-shadow;
}

ion-icon:hover {
  cursor: pointer;
  box-shadow: inset 100px 0 0 0 white;
  color: black;
}

.links {
  margin-top: 100px;;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(104, 104, 104);
  color: white;
  margin-top: 25px;
}

.about h3 {
  margin-bottom: 20px;
  border-bottom: 2px solid white;
}
.about {
  border: 2px solid red;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

.about h1 {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
  background-color: white;
  color: black;

}
.about p {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}
.about a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
  color: white;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.about a:hover {
  cursor: pointer;
  box-shadow: inset 360px 0 0 0 white;
  color: black;
}

/* #project {
  height: 3300px;
} */


img {
  /* width: 60%; */
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 20px;
}



    
